# Node modules
node_modules/
UITest/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local
.npmrc
credentials.json
faq_data.txt
notes.txt
requirements_pip.txt
requirements.txt
sales_team_call_summary.csv
token.json
voiceProcess.json
wa_2mb_hindi.mpeg
speechmatics.txtspeechmatics_raw.json
config.py
index_old.js
voiceDemo.py
.wwebjs_auth
.wwebjs_cache
.npmrc

# Build output
dist/
build/
log_wa.exe
__pycache__/
Enlish_sagarika.aac
Eng_tenant_visit.mpeg
song.mp3
sagarika2.aac
pod
gmailtoken.json
credentials.json
venv

# OS-specific files
.DS_Store
Thumbs.db
